/* header */
#departments .nurse_header {
  margin-bottom: 10px;
}
#departments .nurse_header h3 {
  font-size: 26px;
}

#departments .nurse_header .custom_btn {
  background: #3e64ff;
  color: #fff;
  border: none;
  outline: none;
  width: 170px;
  border-radius: 10px;
}
#departments .nurse_header .custom_btn i {
  margin-right: 10px;
}

/* filter */
#departments .filter_wrapper {
  margin-bottom: 10px;
  padding: 10px 20px;
  /* height:50px; */
  border-radius: 5px;
  background: #d9d9d9;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
#departments .filter_wrapper .sort {
  display: flex;
  align-items: center;
}
#departments .filter_wrapper .sort span {
  font-weight: 500;
  color: rgb(26, 26, 26);
  margin-right: 10px;
}
#departments .filter_wrapper .sort #filter {
  width: 110px;
  border-radius: 3px;
  padding: 5px 5px;
  background: #f2f2f2;
  border: none;
  outline: none;
  height: 100%;
}

#departments .filter_wrapper .r {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 40px 40px;
}
#departments .filter_wrapper .search {
  width: 100%;
}
#departments .filter_wrapper .search input {
  padding: 5px 20px;
  border-radius: 3px;
  background: #f2f2f2;
  width: 100%;
  outline: none;
  border: none;
}

#departments .filter_wrapper .grid,
#departments .filter_wrapper .bars {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#departments .filter_wrapper .grid i {
  color: #a0a0a0;
  font-size: 23px;
}
#departments .filter_wrapper .bars i {
  color: #000;
  font-size: 23px;
}

/* card */
#departments .card_container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
  /* grid-template-columns: repeat(auto-fit, minmax(185px, 1fr)); */
  /* grid-gap: 20px; */
  /* padding-inline-start: 0; */
}

#departments .card {
  text-align: center;
}

#departments .card .card_header {
  color: white;
  font-weight: bold;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#departments .card .actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

#departments .card .department_name {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #7696ff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#departments .nurse {
  font-size: 15px;
}

#departments .position {
  background-color: lightgrey;
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

#departments .room_info {
  padding-left: 30px;
  text-align: start;
}

#departments .card_container .card {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

#departments .card_container .card:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

#departments .profile_img {
  display: flex;
  justify-content: center;
}

#departments .card_container .card img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 6px;
}
#departments .card_container .card .card_content {
  padding: 0 10px;
  display: grid;
}
#departments .card_container .card .card_content .stud_id {
  font-weight: bold;
}
#departments .card_container .card .card_content .name {
  font-weight: 500;
}
#departments .card_container .card .card_content .nurse {
  color: #999;
}
#departments .card_container .card .card_content .card_footer {
  display: flex;
  align-items: center;
}
#departments .card_container .card .card_content .card_footer .date {
  color: #5d8fd9;
  font-size: 14px;
  flex: 1;
}
#departments .card_container .card .card_content .card_footer i {
  margin-left: 8px;
  font-size: 20px;
}
#departments .card_container .card .card_content .card_footer i:nth-child(2) {
  color: #999;
}
#departments .card_container .card .card_content .card_footer i:nth-child(3) {
  color: #5180c7;
  transform: translate(0, -1px);
}

/* add departments modal */
#departments .modal .modal-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #13192d;
  border: none;
}

#departments .modal .modal-body {
  color: white;
  background-color: #13192d;
}

#departments .modal .modal-footer {
  color: white;
  background-color: #13192d;
  border: none;
}

#departments .modal #imgbox {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: gray;
  color: white;
}

#departments .btn-danger {
  background-color: #ed1c24;
  border: none;
}

#departments .btn-success {
  background-color: #37954b;
  border: none;
}

#departments input {
  background-color: #13192d;
  color: white;
  outline: white;
}

#departments .modal img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 6px;
}

#departments .dropdown_list {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

#departments select {
  width: 120px;
}

#departments .modal {
  padding-top: 50px;
}

/* delete department modal */

#departments #delDepartment .delmodal {
  text-align: center;
  border-radius: 5px;
  color: #000;
  background-color: white;
}

#departments .delmodal .btn {
  padding-left: 50px;
  padding-right: 50px;
}

#departments .delmodal .modal_btn {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}

#departments .del_icon {
  position: absolute;
  margin-top: -55px;
  margin-left: 180px;
  font-size: 40px;
  color: #ed1c24;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 5px solid grey;
  background-color: white;
}

@media screen and (max-width: 800px) {
  /* section padding  */
  .content_wrapper {
    padding: 20px;
  }

  #departments .filter_wrapper {
    padding: 10px 20px;
    /* height:50px; */
    border-radius: 5px;
    background: #d9d9d9;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    row-gap: 15px;
  }
  #departments .filter_wrapper .sort {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1280px) {
  #departments .card .actions {
    gap: 5px;
  }
}
