.main-container{
    /* background-color: red; */
    margin: 30px 60px;
    display: flex;
    justify-content: center;
}
.subcontainer{
    /* background-color: blue; */
    width: 100%;
    margin: 0 3em;
}
.numerical{
    width: 100%;
    display: flex;
    justify-content: center;
}
.numerical ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.numerical ul li{
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}
.numerical ul #total{
    background-color: skyblue;
}
.numerical ul #verified{
    background-color: #92e000;
}
.numerical ul #problem{
    background-color: #e1ff00;
}
.numerical ul #visitor{
    background-color: #f58800;
}
.numerical ul #invalid{
    background-color: #de3700;
}
.video{
    display: flex;
    justify-content: center;
}
.video video{
    
    width: 480px;
    /* height: 320px; */
    border-radius: 10px;
    margin: 20px 0;
}
.form-scan{
    display: flex;
    justify-content: center;
}
.subcontainer .form-control{
    margin: 0 0 20px;
    width: 480px;
}
.notification{
    width: 100%;
}

.notification table{
    width: 100%;
    border-collapse: collapse;
    /* background-color: #5cd391; */
}


.table .message{
    display: flex;
    /* background-color: #5cd391; */
    align-content: center;
    justify-content: flex-end;
}

.table .message p{
    color: #fff;
    padding: 3px 10px;
    border-radius: 3px;
}



.notification table tbody tr td{
    padding: 10px 0;
    text-align: center;
    border: 1px solid #000000;
    background-color: #e1ff00;
}
.table{
    /* background-color: yellowgreen; */
    margin: 70px 20px 0;
    width: 100%;
    border-collapse: collapse;
}
.table table{
    width: 100%;
}
.table table thead tr td{
    padding: 10px 0;
    text-align: center;
    border: 1px solid #000000;
    background-color: white;
    
}
.table table tbody tr td{
    padding: 10px 0;
    text-align: center;
    border: 1px solid #000000;
    background-color: #dedede;
}


.pop-up-modal{
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.76); */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    display: none;
}

.pop-up-modal .modal-message{
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 300px;
    background-color: #fff;
    border-radius: 12px;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
}

.pop-up-modal .modal-message .fa{
    color: #de3700;
    font-size: 7em;
}

.pop-up-modal .modal-message p{
    margin-top: 20px;
    font-size: 1.1em;
    text-transform:uppercase;
}

.pop-up-modal .modal-message p b{
    /* text-transform: lowercase; */
}

.pop-up-modal .modal-message button{
    align-self: center;
    background-color: rgb(90, 126, 188);
    color: #fff;
    padding: 5px 12px;
    font-size: 1em;
    text-transform: capitalize;
    border-radius: 4px;
    border: none;
} 