/* header */
#appointments .appointments_header {
  margin-bottom: 10px;
}
#appointments .appointments_header h3 {
  font-size: 26px;
}

#appointments .appointments_header .custom_btn {
  background: #3e64ff;
  color: #fff;
  border: none;
  outline: none;
  width: 170px;
  border-radius: 10px;
}
#appointments .appointments_header .custom_btn i {
  margin-right: 10px;
}

/*table*/
#appointments table {
  background-color: #182039;
}

#appointments .appointments_table_details table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: collapse;
}

#appointments .appointments_table_details th {
  font-weight: 500;
  font-size: 15px;
  padding: 5px 15px 5px 10px;
}

#appointments .appointments_table_details th sub {
  display: flex;
  font-size: 10px;
  font-weight: 500;
  color: #999;
}

/* info */
#appointments .appointments_table_details .container {
  border: solid transparent;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* #appointments .appointments_table_details .container:hover {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.5em,
      rgba(90, 125, 188, 0.05) 0px 0.25em 1em, inset 0 0 0 2px #999, 2px 2px #999;
  } */
#appointments .spacing {
  height: 20px;
}

#appointments td {
  background-color: white;
  color: black;
}

#appointments td span {
  float: left;
  padding-left: 10px;
}

#appointments td .status {
  padding-right: 10px;
  font-weight: 500;
}

#appointments td i {
  font-size: 20px;
}

/* add appointments modal */

#appointments .modal {
  padding-top: 50px;
}

#appointments .modal .modal-header {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #13192d;
  border: none;
}

#appointments .modal .modal-body {
  color: white;
  background-color: #13192d;
}

#appointments .modal .modal-footer {
  color: white;
  background-color: #13192d;
  border: none;
}

#appointments .btn-danger {
  background-color: #ed1c24;
  border: none;
}

#appointments .btn-success {
  background-color: #37954b;
  border: none;
}

#appointments .textfield input {
  background-color: #13192d;
  color: white;
  outline: white;
}

#appointments .flatpickr-calendar {
  zoom: 140%;
}

#appointments #viewAppointmentsInfo .flatpickr-calendar {
  pointer-events: none;
}

/* add appoitnments success modal */
#appointments #addsuccessModal .modal-body {
  background-color: white;
  color: #000;
}

#appointments .addsuccessmodal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

#appointments .check_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #198754;
}

/* delete appointments modal */

#appointments .switch {
  display: flex;
  justify-content: space-between;
}

#appointments #delAdmin .modal-body {
  background-color: white;
  color: #000;
}

#appointments .delmodal {
  text-align: center;
  border-radius: 5px;
}

#appointments .delmodal .btn {
  padding-left: 50px;
  padding-right: 50px;
}

#appointments .delmodal .modal_btn {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}

#appointments .del_icon {
  position: absolute;
  margin-top: -55px;
  margin-left: 180px;
  font-size: 40px;
  color: #ed1c24;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 5px solid grey;
  background-color: white;
}

/* remove appoinments success modal */
#appointments #removesuccessModal .modal-body {
  background-color: white;
  color: #000;
}

#appointments #removesuccessModal .empid {
  color: #3e64ff;
}

#appointments .removesuccessmodal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

#appointments .check_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #198754;
}

@media screen and (min-width: 520px) {
  .nav {
    width: 30%;
  }

  .content_wrapper {
    background: #f2f2f2;
    padding: 20px 20px 0 20px;
  }

  #appointments .appointments_table_details th sub {
    overflow: break-word;
    white-space: nowrap;
  }

  #appointments .appointments_table_details {
    overflow-x: auto;
  }
}

@media screen and (max-width: 788px) {
  /* section padding  */
  .content_wrapper {
    padding: 20px;
  }

  #appointments .filter_wrapper {
    padding: 10px 20px;
    /* height:50px; */
    border-radius: 5px;
    background: #d9d9d9;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    row-gap: 15px;
  }
  #appointments .filter_wrapper .sort {
    display: flex;
    align-items: center;
  }

  #appointments .appointments_table_details th sub {
    overflow: break-word;
    white-space: nowrap;
  }

  #appointments .appointments_table_details td img {
    width: 75px;
    height: 75px;
  }

  #appointments .appointments_table_details {
    overflow-x: auto;
  }
}
