@import url("./style.css");

main .container .medical-history h3{
   text-transform: uppercase;
   margin-bottom: 10px;
}

main .container .medical-history table{
   width: 100%;
   border-collapse: collapse;
   background-color: #fff;
   border-radius: 6px;
   overflow: hidden;
   box-shadow: 0 2px 16px 0 rgba(0,0,0,.2);
}

main .container .medical-history table thead{
   border-bottom: 1px solid black;
}

main .container .medical-history table thead tr th{
   padding: 10px 5px;
   font-weight: 400;
   color: #8d8d8d;
   font-size: .9em;
}

main .container .medical-history table tbody tr td{
   text-align: center;
   padding: 15px 5px;
   font-size: 1em;
}

main .container .medical-history table tbody tr td .status{
   color: var(--approve);
   padding: 5px 10px;
   font-size: 1em;
   font-weight: 500;
   width: max-content;
   margin: auto;
   text-transform: capitalize;
}

main .container .medical-history table tbody tr td .form-button a{
   color: rgb(255, 255, 255);
   background-color: var(--primary);
   padding: 5px 10px;
   border-radius: 5px;
}






/* View Medical History */

main .container .view-medical-history{
   /* background-color: aliceblue; */
}

main .container .view-medical-history .link-header{
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

main .container .view-medical-history .link-header h3{
   font-weight: 500;
   color: var(--primary);
}

main .container .view-medical-history .link-header h3 a{
   color: #8d8d8d;
}

main .container .view-medical-history .link-header h3 a:hover{
   color: var(--primary);
}


main .container .view-medical-history .med-history-info .nurse-status-info{
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
   padding: 1%;
   border-radius: 6px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
   height: max-content;
}

main .container .view-medical-history .med-history-info .nurse-status-info .med-detail{
   display: flex;
}

main .container .view-medical-history .med-history-info .nurse-status-info .med-detail .nurse-image{
   margin-right: 10px;
   width: 120px;
   height: 120px;
   overflow: hidden;
   background-color: var(--primary);
}

main .container .view-medical-history .med-history-info .nurse-status-info .med-detail .nurse-image img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

main .container .view-medical-history .med-history-info .nurse-status-info .med-status{
   background-color: var(--decline);
   padding: 10px;
   color: #fff;
   height: 100%;
   border-radius: 6px;
   text-transform: capitalize;
   font-weight: 400;
}

main .container .view-medical-history .med-history-info .nurse-status-info .med-status span{
   font-weight: 500;
}



main .container .view-medical-history .med-history-info .consultation-summary-container{
   background-color: #fff;
   border-radius: 4px;
   box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
   padding: 2% 4%;
   border-radius: 6px;
   display: flex;
   flex-direction: column;
}

main .container .view-medical-history .med-history-info .consultation-summary-container .sub-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-bottom: 10px;
}

main .container .view-medical-history .med-history-info .consultation-summary-container .sub-header h2{
   font-size: 1.2em;
}

main .container .view-medical-history .med-history-info .consultation-summary-container .summary-consultation{
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;
}

main .container .view-medical-history .med-history-info .consultation-summary-container .summary-consultation .consultation{
   width: 30%;
   height: max-content;
   /* background-color: aliceblue; */
   margin: 10px 0;
}

main .container .view-medical-history .med-history-info .consultation-summary-container .summary-consultation .consultation h3{
   color: #000;
   font-weight: 600;
   font-size: 1em;
}

main .container .view-medical-history .med-history-info .consultation-summary-container .summary-consultation .consultation p, .consultation ul li{
   color: #787878;
}

main .container .view-medical-history .med-history-info .consultation-summary-container .form-button{
   display: flex;
   justify-content: flex-end;
}

main .container .view-medical-history .med-history-info .consultation-summary-container .form-button button{

   font-size: 1em;
   border: none;
   background-color: var(--primary);
   color: #fff;
   padding: 10px 12px;
   border-radius: 6px;
   cursor: pointer;
   transition: all ease-in .5s;

}

main .container .view-medical-history .med-history-info .consultation-summary-container .form-button button:hover{
   background-color: var(--hover);
}


main .container .view-medical-history .med-history-info .consultation-summary-container .form-button button:disabled{
   background-color: #9b9b9b;
   color: #d0d0d0;
   cursor: default;
}