/* header */
#reports .reports_header {
  margin-bottom: 10px;
}
#reports .reports_header h3 {
  font-size: 26px;
}

#reports .reports_header select {
  border-radius: 5px;
  font-size: 20px;
}

/* reports container */
#reports .reports_table_details {
  padding: 20px;
  background-color: white;
  height: 75vh;
}

#reports .reports_table_details .container-title {
  text-align: center;
  color: #3e64ff;
}

#reports .reports_table_details .charts-row {
  display: grid;
  grid-template-columns: 60% auto;
  width: 100%;
  height: 300px;
  color: rgb(135, 134, 134);
  margin-bottom: 70px;
}

#reports .reports_table_details .charts-row .chart-title {
  font-weight: 700;
}

#reports .nav-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#reports .nav-row .pagination {
  display: flex;
  gap: 10px;
}

#reports .nav-row .pagination .paginate-btn {
  background-color: rgb(214, 214, 214);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reports .nav-row .export {
  color: rgb(21, 21, 21);
  display: flex;
  gap: 5px;
}

/*table*/

#reports .table-container {
  position: relative;
  height: 250px;
  overflow: auto;
}

#reports table {
  background-color: #13192d;
}

#reports #table_header {
  box-shadow: 0px 2px #3e64ff;
}

#reports .reports_table_details table {
  background-color: white;
  color: black;
  width: 100%;
  border-spacing: 10px;
}

#reports .reports_table_details th {
  font-weight: 500;
  font-size: 15px;
  padding: 5px 15px 5px 10px;
}

#reports .reports_table_details th sub {
  display: flex;
  font-size: 10px;
  font-weight: 500;
  color: #999;
}

/* info */
#reports .reports_table_details .container {
  border: solid transparent;
  padding: 3px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* #reports .reports_table_details .container:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.5em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em, inset 0 0 0 2px #999, 2px 2px #999;
} */

#reports .reports_table_details td img {
  width: 50px;
  height: 50px;
}

#reports td span {
  float: left;
  padding-left: 10px;
}

#reports td .unique_id {
  color: #5180c7;
  font-weight: 500;
}

#reports td .status {
  padding-right: 10px;
  font-weight: 500;
}

#reports td i {
  font-size: 20px;
}

#reports td i:nth-child(1) {
  color: gray;
  padding-left: 10px;
  padding-right: 5px;
}

#reports td i:nth-child(2) {
  color: #5180c7;
  transform: translate(0, -1px);
}

@media screen and (min-width: 520px) {
  .nav {
    width: 30%;
  }

  .content_wrapper {
    background: #f2f2f2;
    padding: 20px 20px 0 20px;
  }

  #reports .reports_table_details th sub {
    overflow: break-word;
    white-space: nowrap;
  }

  #reports .reports_table_details {
    overflow-x: auto;
  }
}

@media screen and (max-width: 788px) {
  /* section padding  */
  .content_wrapper {
    padding: 20px;
  }

  #reports .filter_wrapper {
    padding: 10px 20px;
    /* height:50px; */
    border-radius: 5px;
    background: #d9d9d9;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    row-gap: 15px;
  }
  #reports .filter_wrapper .sort {
    display: flex;
    align-items: center;
  }

  #reports .reports_table_details th sub {
    overflow: break-word;
    white-space: nowrap;
  }

  #reports .reports_table_details td img {
    width: 75px;
    height: 75px;
  }

  #reports .reports_table_details {
    overflow-x: auto;
  }
}

@media screen and (max-width: 1280px) {
  #reports .reports_table_details {
    height: 70vh;
  }

  #reports .reports_table_details .charts-row {
    margin-bottom: 0;
  }
}
